/* Fonte */

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');


/* Colors */

:root{

/* Primary */
--Strong-Cyan: hsl(171, 66%, 44%); /* botoes */
--Light-Blue: hsl(233, 100%, 69%); /* botoes */

/* Neutral */

--Dark-Grayish-Blue: hsl(210, 10%, 33%); /* titulos */
--Grayish-Blue: hsl(201, 11%, 66%); /* subtitulos */
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-image: url('./images/bg-header-desktop.png');
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: contain;
    font-family: 'Bai Jamjuree', sans-serif;
}
/* estilos genéricos  */

.margin-s-top{
    margin-top: 100px; /* margem padrão entre as seções */
}

/* estilizando a seção 2 */
.container-1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 80px;
    gap: 25px;
    /* background-color: rebeccapurple; */
}

/* estilizando o logo */

.logo img{
    width: 90px;
}

.title-1{
    font-size: 25px;
    color: var(--Dark-Grayish-Blue);
}

.content-1{
    width: 550px;
    /* uso apenas para ver e definir os tamanhos de forma mais fácil */
    /* background-color: red;  */
    text-align: center;
    color: var(--Grayish-Blue);
}


/* definindo as propriedades dos botoes 
cores foram definidas individualmente */


.buttons{
    display: flex;
    gap: 10px;
}
.buttons a{
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 30px;
    color: #fff;
}

/* definindo individualmente as cores dos botões  */

#btn-ios{
    background-color: var(--Strong-Cyan);
}

#btn-mac{
    background-color: var(--Light-Blue);
}

/* estilizando a seção 2 */

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.title-2{
    font-size: 20px;
    color: var(--Dark-Grayish-Blue);
}

.content-2{
    /* background-color: red; */
    width: 620px;
    line-height: 25px;
    text-align: center;
    color: var(--Grayish-Blue);
}

/* estilizando seção 3 */

.container-3{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
   
}

.left-side{
    flex: 1;
}

.right-side{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.title{
    font-size: 20px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}
.title{
    font-size: 20px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}
.title{
    font-size: 20px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}


.info-1{
    width: 340px;
    color: var(--Grayish-Blue);
    line-height: 25px;
    /* background-color: red; */
}

.info-2{
    color: var(--Grayish-Blue);
    line-height: 25px;
    width: 350px;
}

.info-3{
    color: var(--Grayish-Blue);
    line-height: 25px;
    width: 350px;
  
}

.tc{
    margin-bottom: 30px;
}

.tc:nth-child(1){
    /* background-color: cadetblue; */
    margin-top: 100px;
}

/* estilizando a seção 4 */

.container-4{
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
    margin-top: 100px;
    flex-direction: column;
}

.title-4{
    font-size: 20px;
    color: var(--Dark-Grayish-Blue);
}

.content-4{
    /* background-color: red; */
    text-align: center;
    color: var(--Grayish-Blue);
    width: 600px;
}

.img-section img{
    margin-top: 80px;
}

/* estilizando seção 5 */

.container-5{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.title-5{
    font-size: 25px;
    color: var(--Dark-Grayish-Blue);
    font-weight: bolder;
}


.content-5{
    color: var(--Grayish-Blue);
}

.container-6{
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.card-items{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.title-item{
    font-size: 18px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

.content-item{
    /* background-color: red; */
    width: 350px;
    text-align: center;
    color: var(--Grayish-Blue);
    line-height: 25px;
}

/* estilizando seção 7*/

.container-7{
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 100px;
}


/* seção 8 */

.container-8{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.title-8{
    font-size: 25px;
    font-weight: 600;
    color: var(--Dark-Grayish-Blue);
}

.content-8{
    width: 600px;
    text-align: center;
    margin-bottom: 25px;
    color: var(--Grayish-Blue);
}

/* estilizando footer */







